.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: khaki;
}
.form-box{
    padding: 10px;
    border-radius: 5px;
    background: #ececec;
    box-shadow: 10px 10px 15px #c7c4c4;
}
.form-box input{
    font-size: 18px;
    color: black;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #ececec;
}
.form-box button{
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: red;
    cursor: pointer;
}